@font-face {
    font-family: aaa;
    src: url(../fonts/ShipporiAntiqueB1-Regular.ttf);
}
@font-face {
    font-family: aaa2;
    src: url(../fonts/Genos-VariableFont_wght.ttf);
}
@font-face {
    font-family: aaa3;
    src: url(../fonts/ShipporiAntiqueB1-Regular.ttf);
}